provider "aws" {
  access_key = "<your_aws_access_key>"
  secret_key = "<your_aws_secret_key>"
  region = "<your_aws_region>"
}

variable "hugo_site" {
    default = {
        # root_domain for the hugo site
        # the site FQDN will be www.${root_domain}
        root_domain = "example.com"
    }
}