{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Sid": "IPlimitedReadGetObject",
			"Effect": "Allow",
			"Principal": "*",
			"Action": "s3:GetObject",
			"Resource": "arn:aws:s3:::docs.itlab.stanford.edu/*",
			"Condition": {
				"IpAddress": {
					"aws:SourceIp": "${source_cdir}"
				}
			}
		}
	]
}
